name: Build Python Package

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build_wheel:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x' # Specify your Python version

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build a binary wheel and a source tarball
        run: python -m build

      - name: Store the distribution packages (optional)
        uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: dist/